@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-family: Montserrat;
}

/* @media only screen and (min-width:640px){
    html,body{
        zoom:133%;
        margin: 0  auto;
    }
} */
/* 
html{
    width: 390px;
} */